/* ========================================================
                     Global Settings
======================================================== */
body {
    font-family: $f-pt_sans;
    color: $c-dark;
}

a {
    color: $c-dark;
}
