/* ========================================================
                        Mixins here :)
======================================================== */

/*----------------------- Example -----------------------*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//USAGE => .selector { @include border-radius(10px); } */
