//MENU BUTTON
.navbar-btn
  .navbar-btn__text Меню
  .navbar-btn__icon
    span
    span
    span
//MENU
.navbar
  .search-box
    input(type="search" id="search" placeholder="Пошук").search-box__search
    button.search-box__search-btn
      svg.search-box__search-btn-icon
        use(xlink:href="img/svg-sprites/sprite.svg#icon-search")
  nav.navbar__navigation
    a(href="#").navbar__item Головна
    a(href="#").navbar__item Статті
    a(href="#").navbar__item Блоги
    a(href="#").navbar__item Рейтинги
    a(href="#").navbar__item Про нас
