.about_us
  .title Про нас
    .line
  .description
    p Кожен з нас неодноразово стикався з проблемою пошуку цікавого і актуального контенту. Ми навчилися робити це автоматично за допомогою спеціальних скриптів і алгоритмів.
    h4 Кому буде цікавий цей сайт?
    p В першу чергу журналістам і просунутим користувачам, які регулярно стежать за "порядком денним".
    h4 Які розділи потрібно подивитися в першу чергу?
    p В першу чергу журналістам і просунутим користувачам, які регулярно стежать за "порядком денним".
    h4 Чому хмара тегів займає так багато місця на головній сторінці сайту?
    p Наше облако тегов не такое как все и позволяет сходу мониторить "повестку дня" и видеть то, что в данный момент наиболее интересно людям. Просто нажмите на любое из указанных слов и специально обученный робот проведет колоссальный объем работы и найдет все упоминания этого слова в топовых аккаунтах Twitter, Facebook и на популярных новостных ресурсах.


