.one_blog
  .quote
    svg
      use(xlink:href="img/svg-sprites/sprite.svg#icon-quote")
  .article
    p Індустрія ІТ-технологій успішно та динамічно розвивається. Чи можливо отримувати європейську заробітню плату, працюючи у Івано-Франківську?  Що потрібно знати, щоб стати успішним ІТ-спеціа
    h3 Dark Vader
  .foto_img
    img(src="img/dark vader.png" alt="foto")