.main-content
    .material-image(style="background-image: url(img/1.jpg)")
    .material-date.news__date 10.10.2010
    .material-title Loremfd aasd asd asdasd asd asd asd asdas fsdf sdf s df
    .material-content
        p
            img(src="img/1.jpg  ")
        p asdasdasda sdasdfsdfdddWDASDSA DASdasdasdasdasdasdasdasfasfdafdddd ddddddddddd ddddddddddddddddddddddsdfsdgdfgh sgtgththshdfghfdghdfghd fghddfsdfsdf
    .related-news
        .news-title.related-title Схожі статті
        .container-fluid
            - for (i=0; i<3; i++)
                .col-lg-4
                    .news
                        .news__image(style="background-image: url(../img/1.jpg)")
                        .news__info
                            .news__date 20.20.1002
                            .news__title Сьогодні, 29 липня в Івано-Франківську відбулася прес-конференція з нагоди Всеукраїнської  патріаршої прощі.
                            .news__text На Маріупольському напрямку стріляли по Водяному, Мар’їнці та Красногорівці – з мінометів різних калібрів. У Красногорівці бойовики застосували БМП…
                            a(href="#")
                                .news__button Читати статтю
                                    .news-item__plus
                                        span
                                        span