.right_content
  .right_header
    .row
      .col-lg-5
        .search
          input(type="search" id="search" placeholder="Пошук")
          button
            svg
              use(xlink:href="img/svg-sprites/sprite.svg#icon-search")
      .col-lg-7
        .menu_header
          nav
            a(href="") Головна
              .line
            a(href="") Статті
              .line
            a(href="") Блоги
              .line
            a(href="") Рейтинги
              .line
            a(href="") Рейтинги
              .line
            a(href="") Про нас
              .line
  .slider
    .slider-wrap.cf
      .customNavigation
        .customPrevBtn
        .customNextBtn
      .slider.owl-carousel
        .item
          .slider__image(style="background-image: url('img/1.jpg')")
        .item
          .slider__image(style="background-image: url('img/1.jpg')")
        .item
          .slider__image(style="background-image: url('img/1.jpg')")
      .slider-content.owl-carousel
        .item
          .slider-content__wrap
            .slider-content__title Slide 1
            .slider-content__text Hello Thesdfsdfsdfre
        .item
          .slider-content__wrap
            .slider-content__title Slide 2
            .slider-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, voluptate quod non itaque praesentium quia eos esse accusamus quas facil
        .item
          .slider-content__wrap
            .slider-content__title Slide 1
            .slider-content__text Hello Thesdfsdfsdfre
  .blogs
    .article
      .row
        .col-lg-4
          h2 Блоги
          .line
    .container-fluid
      .row
        .col-lg-4
          include one_blog
        .col-lg-4
          include one_blog
        //.col-lg-4
        //  iframe(src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ftaras.sluchyk%2Fposts%2F1206907142682546&width=500" width="100%" height="430" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
        .col-lg-4
          include one_blog
      .row.two_line
        .col-lg-4
          include one_blog
        .col-lg-4
          include one_blog
        .col-lg-4
          include one_blog
  .other_article
    .row
      .col-lg-4
        .title
          h2 Громада
          //.line
        .post
          .one_post
            .fb-post(data-href="https://www.facebook.com/mykola.gavryliak/posts/10208514493772612" data-width="auto" data-show-text="true")
        .post
          .one_post
            .fb-post(data-href="https://www.facebook.com/ukraine.live.news/posts/517048675166242" data-width="auto" data-show-text="false")
        .post
          .one_post
            .fb-post(data-href="https://www.facebook.com/prykarpattya.online/posts/1132652213439623" data-width="auto" data-show-text="false")
      .col-lg-4
        .title
          h2 Політики
          //.line
        .post
          .one_post
            .fb-post(data-href="https://www.facebook.com/mykola.gavryliak/posts/10208514493772612" data-width="auto" data-show-text="false")
        .post
          .one_post
            .fb-post(data-href="https://www.facebook.com/ukraine.live.news/posts/517048675166242" data-width="auto" data-show-text="false")
        .post
          .one_post
            .fb-post(data-href="https://www.facebook.com/prykarpattya.online/posts/1132652213439623" data-width="auto" data-show-text="false")
      .col-lg-4
        .title
          h2 Журналісти
          //.line_longer
        .post
          .one_post
            .fb-post(data-href="https://www.facebook.com/vasyl.bodnaruk1/posts/1261741460525407" data-width="auto" data-show-text="false")
        .post
          .one_post
            .fb-post(data-href="https://www.facebook.com/ukraine.live.news/posts/518107331727043" data-width="auto" data-show-text="true")
        .post
          .one_post
            .fb-post(data-href="https://www.facebook.com/prykarpattya.online/posts/1132652213439623" data-width="auto" data-show-text="false")
  footer
    .gray_element
      .col-lg-4
        .contain
          p © 2016 «Громада». Усі права застережені.
      .col-lg-4
        .cont
          .vk
            a(href="") Вк
            .line
          .fb
            a(href="") Fb
            .line
      .col-lg-4
        .arrow
          a(href="").icon-up-arrow
            svg
              use(xlink:href="img/svg-sprites/sprite.svg#icon-right-arrow")
    .white_element
      .col-lg-4
        .yls_logo
          a(href="yleaf.co") Made by
            svg
              use(xlink:href="img/svg-sprites/sprite.svg#icon-Yls")
      .col-lg-8
        .menu_footer
          nav
            a(href="") Головна
              .line
            a(href="") Статті
              .line
            a(href="") Блоги
              .line
            a(href="") Рейтинги
              .line
            a(href="") Рейтинги
              .line
            a(href="") Про нас
              .line
.clear

