.right_content
  nav Тут буде хедер
  .slider Слайдер
  .blogs
    .article
      .row
        .col-lg-4
          h2 Блоги
          .line
    .container-fluid
      .row
        .col-lg-4
          include one_blog
        .col-lg-4
          include one_blog
        .col-lg-4
          include one_blog
.clear
