script(src="js/libs/jquery.min.js")
script(src="js/libs/jquery-dateFormat.min.js")
script(src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.7" async type="text/javascript")
script(src="js/libs/bootstrap.min.js")
script(src="js/libs/bootstrap-datepicker.js")
script(src="//cdn.rawgit.com/niftylettuce/bootstrap-datepicker-mobile/9999ca720ebf89600bda1659c96a291dc447ff39/bootstrap-datepicker-mobile.js")
script(src="js/libs/jquery.masonry.min.js")
script(src="js/libs/sticky-kit.min.js")
script(src="js/libs/owl.carousel.min.js")
script(src="js/common.min.js")
