include includes/head

body
  .content
    include includes/left_menu
    .right_content
      include includes/parts/navigation
      include includes/blogs-content
      include includes/footer
    .clearfix
  include includes/scripts