include includes/head

body
  .content
    include includes/left_menu
    include includes/right_content
  include includes/footer
  //iframe(src="http://24tv.ua/v_merezhi_regochut_yak_skonfuzilis_propagandisti_putina_z_istoriyeyu_pro_krimskih_diversantiv_n715056")
