include includes/head

body
  //.main_lines
  //  .row
  //    .col-lg-3
  //      .line_right
  //    .col-lg-3
  //      .line_right
  //    .col-lg-3
  //      .line_right
  //    .col-lg-3
  //      .line_right
  .content
    include includes/left_menu
    include includes/right_content
  include includes/footer
