@media #{$iPhone} {
  footer {
    .gray_element {
      width: 100%;
      height: 150px;
      background: $fon-footer;
      .col-lg-4 {
        height: 100%;
        .contain {
          height: 100%;
          display: flex;
          //justify-content: center;
          align-items: center;
          padding-left: 30px;
          p {
            font-family: $f-pt_sans;
            font-size: $f-small;
          }
        }
        .cont {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .vk, .fb {
            margin-left: 5px;
            margin-right: 5px;
            a {
              color: $fon-social;
              padding-left: 10px;
              padding-right: 10px;
              font-family: $f-pt_sans_bold;
              font-size: $f-large + 10px;
              transition: $t-fast;
            }
            .line {
              height: 2px;
              background: $fon-social;
              margin-top: -10px;
              transition: $t-fast;

            }
            &:hover {
              a {
                text-decoration: none;
                color: $c-blue;
              }
              .line {
                transform: rotate(35deg) translateY(-15px) translateX(-10px);
                //top: -15px;
                position: relative;
                background: #1575b8;
              }
            }
          }
        }
        .arrow {
          width: 100%;
          height:100%;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            transform: rotate(-90deg);
            height: $f-large;
            width: $f-large;
            fill: $c-dark;
            transition: $t-fast;
            &:hover {
              fill: $c-blue;
            }
          }
        }
      }
    }
    .white_element {
      height: 70px;
      .col-lg-4 {
        height: 100%;
        .yls_logo {
          width: 100%;
          height:100%;
          display: flex;
          //justify-content: center;
          align-items: center;
          padding-left: 40px;
          a {
            color:$c-dark;
            position: relative;
            transition: $t-fast;
            svg {
              position: absolute;
              height: $f-large;
              width: $f-large;
              fill: $c-dark;
              top: -5px;
              left: 55px;
              transition: $t-fast;
            }
            &:hover {
              color: $c-blue;
              text-decoration: none;
              svg {
                fill: $c-blue;
              }
            }
          }
        }
      }
      .col-lg-8 {
        height: 100%;
       .menu_footer {
         height: 100%;
         nav {
           width: 100%;
           height:100%;
           display: flex;
           justify-content: center;
           align-items: center;
           a {
              font-size: $f-normal;
             font-family: $f-pt_sans;
             color: $c-light-gray;
             margin: 0 25px;
             transition: $t-fast;
             .line {
               height: 1px;
               width: 150%;
               margin-left: -25%;
               background: $c-light-gray;
               transition: $t-fast;
             }
             &:hover {
               text-decoration: none;
               color: $c-blue;
               .line {
                 transform: rotate(20deg) translateY(-10px) ;
                 position: relative;
                 background: $c-blue;
               }
             }
           }


         }
       }
      }
    }
  }
} //END MEDIA
