@media #{$iPhone} {
  footer {
    .gray_element {
      width: 100%;
      height: 150px;
      background: $fon-footer;
      .col-lg-4 {
        height: 100%;
        .contain {
          height: 100%;
          display: flex;
          //justify-content: center;
          align-items: center;
          padding-left: 30px;
          p {
            font-family: $f-pt_sans;
            font-size: $f-small;
          }
        }
        .cont {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .vk, .fb {
            margin-left: 5px;
            margin-right: 5px;
            a {
              color: $fon-social;
              padding-left: 10px;
              padding-right: 10px;

              font-family: $f-pt_sans_bold;
              font-size: $f-large + 10px;
              transition: $t-fast;
            }
            .line {
              height: 2px;
              background: $fon-social;
              margin-top: -10px;
              transition: $t-fast;

            }
            &:hover {
              a {
                text-decoration: none;
                color: $c-blue;
              }
              .line {
                transform: rotate(35deg) translateY(-15px) translateX(-10px);
                //top: -15px;
                position: relative;
                background: #1575b8;
              }
            }
          }
        }
      }
    }
  }
} //END MEDIA
