@media #{$tablet} {
  /* ========================================================
                       Navigation Button
  ======================================================== */
  .navbar-btn {
    top: 0;
    right: 20px;
    width: 70px;
    float: right;
    padding: 10px 0;
    margin: 40px 0;
  }
  //~~~~~~~~~~~~~~~~~~ Navigation button:ACTIVE ~~~~~~~~~~//
  .navbar-btn--is-active {
    margin-right: 135px;
  }


}
