@media #{$iPhone} {
  /* ========================================================
                            Title
  ======================================================== */

  .news-title {
    font-family: $f-pt_sans_bold;
    font-size: $f-large;
    border-bottom: 2px solid $c-dark;
    display: inline-block;
    padding: 0 20px;
    margin: 0 10px;
  }

  /* ========================================================
                            Sort
  ======================================================== */

  .sort-wrap {
    margin-top: 20px;
    text-align: center;
  }
  .sort-text {
    margin: 10px 0;
  }
  .sort-el,
  .sort-el__input,
  .sort-el__text {
    display: inline-block;
  }

  .sort-btn {
    display: none;
    border: none;
    background: $c-dark;
    color: $c-light;
    transition: $t-fast;
  }

  .sort-form {
    display: inline-block;
  }

  .sort-el__text{
    opacity: 0.5;
  }

  .sort-el {
    padding: 0 10px;
  }

  .sort-text {
    padding: 0 10px;
  }

  .sort-el__input {
    position: relative;
    width: 85px;
    border: none;
    color: transparent;
    text-shadow: 0 0 0 $c-dark;
    cursor: pointer;
    padding: 0 8px;
    border-bottom: 1px solid $c-dark;
  }

  .input-append {
    display: inline-block;
  }

  /*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
               hover
  \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/

  .sort-btn:hover {
    background: $c-blue;
  }

  .sort-el__input:hover {
    border-bottom: 1px solid $c-blue;
    color: $c-blue;
  }


    /* ========================================================
                              News
    ======================================================== */

  /*------------------------------------
                News content
  ------------------------------------*/

  .news-content {
    margin: 0 auto;
    width: 100%;
  }

  .material-sizer {
    width: 380px;
  }

  /*------------------------------------
                 News item
  ------------------------------------*/

  .news {
    width: 380px;
    padding: 0 10px;
    margin: 10px 0;
  }
  .news__image {
    width: 100%;
    margin: auto;
    background-position: center center;
    background-size: cover;
    height: 200px;
  }
  .news__date {
    opacity: .5;
  }
  .news__title {
    font-family: $f-pt_sans_bold;
    padding: 5px 0;
  }
  .news__button {
    text-transform: uppercase;
    font-size: $f-small;
    color: $c-blue;
    padding: 10px 0;
    display: inline-block;
  }
  .news__info {
    padding: 10px;
  }

  /*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
             News item:hover
  \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/

  .news__button:hover {
    .news-item__plus span:first-child {
      transform: rotate(-90deg);
      left: 4px;
      width: 11px;
    }
    .news-item__plus span:last-child {
      right: 4px;
      width: 13px;
    }
  }


  /* ========================================================
                          Pagination
  ======================================================== */

  .pagination {
    margin: 0 50px;
  }
  .pagination a {
    text-decoration: none;
  }
  .pagination__circle {
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    margin: 20px 10px;
  }
  .pagination__number {
    padding: 5px;
    font-family: $f-pt_sans_bold;
  }

  .pagination__circle.pagination__circle--active {
    border-radius: 50px;
    background: $c-blue;
    .pagination__number {
      color: $c-light;
    }
  }

  /*------------------------------------
               Prev/Next pages
  ------------------------------------*/
  .prev-page,
  .next-page {
    position: relative;
    display: inline-block;
    height: 15px;
    width: 15px;
    top: 3px;
    transition: $t-fast;
  }

  .prev-page {
    transform: rotate(180deg);
  }

  .prev-page:hover,
  .next-page:hover {
    fill: $c-blue;
  }
}